// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "toastr";

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-sm {
  border: none;
  background-color: #fff;

}
.btn-group a:hover {

color: #aef !important;
outline-color: #fff;
}

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(135, 216, 211 , 0.85);
  p {
    padding:1rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }



}




.upload-video-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;



}
